{% extends 'base.html' %}

{% block title %}Auction Details{% endblock %}

{% block content %}

    <p>{{ auction.title }}</p>
    <p>{{ auction.author }}</p>

    {% block description %}

        <p>{{ auction.description }}</p>
        {% if is_permitted_to_edit %}
        <a href="{% url 'auctions:edit' auction.id %}">Edit description</a>
        {% endif %}

    {% endblock %}

    <p>{{ auction.deadline }}</p>
    <p>{{ converted_price }}{{ currency_code }}</p>
    <p><i>{{ auction.state }}</i></p>
    <p><i>{{ auction.leader }}</i></p>

    {% block bid %}

        <a href="{% url 'bids:bid' auction.id%}">New Bid</a>

    {% endblock %}

    {% if admin %}
        <form action="{% url 'auctions:ban_auction' auction.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="ban" value="{{ auction.id }}">
            <p><input type="submit" value="Ban Auction"></p>
        </form>
{#        <p><a href="{% url 'auctions:ban_auction' auction.id %}">Ban Auction</a></p>#}
    {% endif %}

{% endblock %}