{% extends 'base.html' %}

{% block title %}Auction List{% endblock %}

{% block content %}
    <h3><a href="{% url 'auctions:create' %}">Create New Auction</a></h3>
    <br>
    <form method="get">
    {{ form }}
    <input type="submit" value="Search">
    </form>

    {% if auction_list %}
        <ul>
            {% for auction in auction_list %}
                <li>
                    <a href="{% url 'auctions:detail' auction.id %}">
                        {{ auction.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No auctions are available.</p>
    {% endif %}
{% endblock %}