<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}YAAS{% endblock %}
    </title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'auctions:index' %}">Auctions</a></li>
        <li><a href="{% url 'core:register' %}">Register</a></li>
        <li><a href="{% url 'core:login' %}">Login</a></li>
    {% endblock %}
    </ul>
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>